.list {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15vh 1vw 5vh;
    width: 98vw;
    min-height: 80%;
}

.author {
    border: 1px solid black;
    height: 200px;
    width: 300px;
    opacity: 0.70;
    transition: 1s;
}

.author:hover {
    opacity: 1;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    transform: translateY(-1vmin) scale(1.05);    
} 

.author:nth-child(odd) {
    margin: 1vh 1vw 1vh 2vw;
    background: rgba(224, 96, 192, 0.55);
}

.author:nth-child(even) {
    margin: 1vh 2vw 1vh 1vw;
    background: rgba(192, 192, 192, 0.55);
}

.author:nth-child(3n) {
    margin: 1vh 3vw 1vh 3vw;
    background: rgba(0, 192, 0, 0.55);
}

.author:nth-child(5n) {
    margin: 1vh 5vw 1vh 1vw;
    background: rgba(255, 0, 0, 0.55);
}

.author:nth-child(7n) {
    margin: 1vh 3vw 1vh 7vw;
    background: rgba(96, 255, 255, 0.55);
}

.author:nth-child(11n) {
    margin: 1vh 11vw 1vh 11vw;
    background: rgba(255, 255, 0, 0.55);
}

